<template>
    <div id="app">
        <pagination v-model="pagination" :total-count="totalCount" search-placeholder="Search" items-placeholder="Items per page"></pagination>
    </div>
</template>

<script>

export default {
    name: 'app',
        data: function()
        {
            return {
                totalCount: 300,
                pagination:
                {
                    query: '',
                    currentPage: 1,
                    limit: 20,
                    initialId: [],
                    searchTimeout: false
                }
            };
        }
    }
</script>