<template>
    <div class="lb-pagination">
        <div class="pagination-container d-flex flex-row flex-wrap col-sm-12">
            <div class="mr-2 main-ipp">
                <div class="d-flex flex-row align-content-center">
                    <label class="align-self-center mr-1 label-ipp">{{getItemsPlaceholder}}:</label>
                    <select v-model="value.limit" size="0" class="form-control input-normalheight form-dropdown">
                        <option>25</option>
                        <option>50</option>
                        <option>100</option>
                        <option>200</option>
                        <option>500</option>
                        <option>1000</option>
                        <option>2000</option>
                    </select>
                </div>
            </div>
            <div class="mr-2 main-search">
                <input type="text" class="form-control" v-model="value.query" :placeholder="getSearchPlaceholder">
            </div>
            <div class="toggle align-self-center mr-2" v-on:click="reloadData">
                <svg data-v-b34144d8="" version="1.1" role="presentation" width="20.57142857142857" height="18" viewBox="0 0 1536 1792" style="font-size: 1.5em;"><path d="M1511 1056q0 5-1 7-64 268-268 434.5t-478 166.5q-146 0-282.5-55t-243.5-157l-129 129q-19 19-45 19t-45-19-19-45v-448q0-26 19-45t45-19h448q26 0 45 19t19 45-19 45l-137 137q71 66 161 102t187 36q134 0 250-65t186-179q11-17 53-117 8-23 30-23h192q13 0 22.5 9.5t9.5 22.5zM1536 256v448q0 26-19 45t-45 19h-448q-26 0-45-19t-19-45 19-45l138-138q-148-137-349-137-134 0-250 65t-186 179q-11 17-53 117-8 23-30 23h-199q-13 0-22.5-9.5t-9.5-22.5v-7q65-268 270-434.5t480-166.5q146 0 284 55.5t245 156.5l130-129q19-19 45-19t45 19 19 45z"></path></svg>
            </div>
            <div class="main-pagination">
                <b-pagination :total-rows="parseInt(totalCount)" v-model="value.currentPage" :per-page="parseInt(value.limit)"></b-pagination>
            </div>
            

        </div>
    </div>
</template>

<style lang="scss" scoped>

    .pagination-container {
        > div { margin-bottom: 1.5em; }
        .toggle { cursor: pointer; }
        label { white-space: nowrap; }
        ul, label { margin: 0; }
    }

    

    /deep/ .main-pagination {
      
      .pagination {
      border-radius: 4px;
      box-shadow: 0 1px 4px 0 rgba(72, 72, 72, 0.1);
      border: solid 1px #eeeeee;
      background-color: #ffffff;
      height: 32px;

        .page-item.active {

          .page-link {
            background-color: #fdde88;
            border-color: #dee2e6;
            border-radius: .25rem;
            color: #212529;
          }

        }
      
        .page-link {
          font-family: Roboto;
          font-size: .8rem;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #9b9b9b;
          padding: .4rem .8rem;

          &:hover {
            color: #004b64;
          }
        }
      }
    }

    .main-search {

      .form-control {
      border-radius: 4px;
      border: solid 1px #eeeeee;
      padding: .4rem .8rem;
      color: #212529;
      height: 32px;
      font-family: Roboto;
      font-size: .8rem;
      font-weight: 400;

      &::placeholder {
      color: #b2b2b2;
      }
    }
  }

  .main-ipp {

    .label-ipp {
      font-family: Roboto;
      font-size: .8rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #9b9b9b;
    }

    .form-dropdown {
      border-radius: 4px;
      border: solid 1px #eeeeee;
      padding: .4rem .8rem;
      color: #212529;
      height: 32px;
      font-family: Roboto;
      font-size: .8rem;
      font-weight: 400;
      min-width: 5rem;
      margin-left: .25rem;
    }

  }

  select.form-control[size], select.form-control[multiple] {
    height: 32px;
  }

</style>

<script>

import Vue from 'vue'
import { PaginationPlugin } from 'bootstrap-vue'
Vue.use(PaginationPlugin)

export default {
  name: 'lb-vue-pagination',
  data()
  {
    return {};
  },
  props: ['totalCount', 'value', 'searchPlaceholder', 'itemsPlaceholder'],
  created()
  {
    var me = this;
    me.reloadData();
  },
  watch:
  {
    'value.currentPage': function(val)
    {
      var me = this;
      me.reloadData();
    },
    'value.limit': function(val)
    {
      var me = this;
      me.reloadData();
    },
    'value.initialId': function(val)
    {
      var me = this;
      console.log(val)
      me.reloadData();
    },
    'value.query': function(val)
    {
      var me = this;

      if(me.value.searchTimeout != false) clearTimeout(me.value.searchTimeout);

      me.value.searchTimeout = setTimeout(function()
      {
        me.reloadData();
        me.value.searchTimeout = false;
      }, 300);
    }
  },
  methods:
  {
    reloadData()
    {
      var me = this;
      me.$emit('reload', null);
    }
  },
  computed:
  {
    getSearchPlaceholder()
    {
      var me = this;

      if(me.searchPlaceholder != undefined) return me.searchPlaceholder;
      if(me.$t != undefined) return me.$t('SEARCH');
      return 'Search';
    },
    getItemsPlaceholder()
    {
      var me = this;

      if(me.itemsPlaceholder != undefined) return me.itemsPlaceholder;
      if(me.$t != undefined) return me.$t('ITEMSPERPAGE');
      return 'Items per page';
    }
  }
}
</script>
